altgraph==0.17.3
azure-common==1.1.28
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
colorama==0.4.6
cryptography==41.0.3
EasyProcess==1.1
entrypoint2==1.1
et-xmlfile==1.1.0
greenlet==2.0.2
idna==3.4
jaconv==0.3.4
logutils==0.3.5
mojimoji==0.0.12
MouseInfo==0.1.3
mss==9.0.1
numpy==1.25.2
openpyxl==3.1.2
pandas==2.0.3
pefile==2023.2.7
Pillow==10.0.0
psutil==5.9.5
PyAutoGUI==0.9.54
pycparser==2.21
pycryptodome==3.18.0
PyGetWindow==0.0.9
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.7
PyMsgBox==1.0.9
pyodbc==4.0.39
pyperclip==1.8.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySimpleGUI==4.60.5
python-dateutil==2.8.2
pytweening==1.0.7
pytz==2023.3
pywin32==306
pywin32-ctypes==0.2.2
rainbow-logging-handler==2.2.2
requests==2.31.0
screeninfo==0.8.1
six==1.16.0
SQLAlchemy==1.4.46
tzdata==2023.3
urllib3==2.0.4
xlrd==2.0.1
xlwt==1.3.0
